*
!tests/
!tests/**/*.cc
!tests/**/CMakeLists.txt

!app/
!app/**/*.cc
!app/**/CMakeLists.txt

!include/
!include/**/
!include/**/*.h
!include/**/*.hpp

!src/
!src/**/
!src/**/*.c
!src/**/*.cc
!src/**/*.cpp

!**/CMakeLists.txt
!.gitignore
!**/*.md

!.vscode/
!.vscode/*.json

!ext
!ext/fmt
